@tailwind base;
@tailwind components;
@tailwind utilities;


/* *{
  max-width: 575px !important;
  margin: 0 auto;
} */

/* SignIn Componanat css */

.container {
    margin: 0 auto;
    padding: var(--padding);
    width: 380px;
  }
  
  .footer {
    margin-top: var(--margin-lg);
    text-align: center;
    width: 100%;
  }
  
  .forgotPassword {
    float: right;
  }
  
  .header {
    margin-bottom: var(--margin-xl);
  }
  
  .section {
    align-items: center;
    background-color: var(--color-bg-container);
    display: flex;
    height: var(--height);
    padding: var(--padding-section);
  }
  
  .text {
    color: var(--color-text-secondary);
  }
  
  .title {
    font-size: var(--font-size-title);
  }
  

  /* website  */
  .track-btn{
    color: #704D25 !important;
    border-color: #704D25 !important;
    font-weight: 700;
  }
  .track-btn:hover{
    color: #fdfdfd !important;
    border-color: #704D25 !important;
    background-color: #967045 !important;
    font-weight: 700;
  }
  .btn-img:hover{
    color: #fdfdfd;
  }
  .hero-banner {
    background-image: url("/images/herobanner.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100% !important;
    /* height: 40vh; */
    padding: 10px;
  }
  .hero-banner h2 {
    font-size: 28px;
    line-height: 1.2; 
  }
  @media (max-width: 575px) {
    .hero-banner {
          padding: 8px; /* Adjust padding if needed */
    }
  
      
    .hero-banner h2 {
      font-size: 22px;
      line-height: 1.2; 
    }
  
    .hero-banner .ant-btn {
      font-size: 12px; /* Adjust button text size */
      padding: 6px 10px; /* Adjust padding for buttons */
    }
  }
  
  :where(.css-dev-only-do-not-override-d2lrxs).ant-tabs .ant-tabs-tab+.ant-tabs-tab {
    margin: 0px 0 0 25px !important;
}

  :where(.css-dev-only-do-not-override-d2lrxs).ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #ffffff !important;
    text-shadow: 0 0 0.25px currentcolor;
    background-color: #D49929 !important;
    padding: 5px !important;
    border-radius: 10px 0 0 !important;
}
:where(.css-dev-only-do-not-override-d2lrxs).ant-tabs .ant-tabs-tab-btn{
  transition: none !important;
}
:where(.css-dev-only-do-not-override-d2lrxs).ant-input{
  border-radius: 20px !important;
}
.ant-tabs-nav-wrap::before,.ant-tabs-nav-wrap::after{
  display: none!important;
}
:where(.css-dev-only-do-not-override-d2lrxs).ant-tabs .ant-tabs-tab{
  padding: 0 !important;
}
.blog-link {
  color:#704D25 !important;
  font-weight: 700;
  font-size: 12px;
  text-decoration: underline;
}
.ant-tabs-tab-btn{
  font-weight: bold;
  color: #3A3A3A !important;
}

.custom-tabs .ant-tabs-tab-active {
  border-bottom: 2px solid #704D25; 
  
}

.ant-tabs-tab:hover{
  color: #3A3A3A !important;
}
.custom-tabs .ant-tabs-ink-bar {
  background-color: transparent; 
}

.top-navigation{
    position: fixed;
    bottom: 135px;
    right: calc(50% - 277.5px);
    font-size: 16px;
    background: #704D25;
    color: #fff;
    cursor: pointer;
    padding: 8px 12px;
    border: none;
    box-shadow: 0 5px 10px #ccc;
    z-index: 5;    
    border-radius: 50%;
}

@media (max-width: 574.98px) {
  .top-navigation{
      bottom: 135px;
      right: 10px;
      padding: 8px 10px;
      font-size: 12px;
  }
}
.carousel-container .slick-slide {
  display: flex;
  justify-content: center;
}

.carousel-container .slick-slide .ant-card {
  margin: 0 0.5rem;
}
.recent-order-sl, .testimonial-sl{
  display: flex !important;
}


.carousel-container .slick-dots {
  display: none !important; /* Hide the dots */
}
